<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3" style="font-size: small">
                <h5 style="font-size: small">CUSTOMER SERVICE</h5>
                <hr class="bg-info mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="/booking">Booking with ChartAir</a></li>
                    <li><a href="/baggage">Baggage</a></li>
                    <li><a href="/onlinecheck-in">Online check-in</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto" style="font-size: small">
                <h5 style="font-size: small">FLIGHTS & DESTINATIONS</h5>
                <hr class="bg-info mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="/destinations">Destinations</a></li>
                    <li><a href="/map">Map</a></li>
                    <li><a href="">Flight Status</a></li>
                    <li><a href="">Cancellation</a></li>
                </ul>
            </div>


            <div class="col-md-4 col-lg-3 col-xl-3" style="font-size: small">
                <h5 style="font-size: small">ABOUT CHARTAIR</h5>
                <hr class="bg-info mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="/companyinfo"> Company Information</a></li>
                    <li><i class="fa fa-envelope"></i>chartair@gmail.com</li>
                    <li><i class="fa fa-phone mr-2"></i>+ 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i>+ 33 12 14 15 16</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
