<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand text-warning" href="/"><i><img width="100" height="50" src="https://images.squarespace-cdn.com/content/v1/5b5f6b23c258b452ff07c5b7/1535663676952-RNZWPWD6NENL9EG4G4SG/ke17ZwdGBToddI8pDm48kOBYSKPKNTM-HDF5itvTvGMUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc7YkTwR4FIVIu5wQQCLSrcTrqAc0xQPLPUx2mKJfhFb-Ptl8ccvFWD_qAH2F59Bnu/PLANEOUTLINE4.png"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item nav-link px-5">
                        <a class="nav-link active" href="/booking">Booking</a>
                    </li>
                    <li class="nav-item nav-link px-5">
                        <a class="nav-link active" href="/map">Map</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/calendar">Calendar</a>
                    </li>
                    <li class="nav-item nav-link px-5">
                        <a class="nav-link active" href="/baggage">Baggage</a>
                    </li>
                    
                    <!--<li class="nav-item m-auto" >
                        <a class="nav-link active" href="/manufacturers">Prices and Discounts</a>
                    </li>-->
                </ul>



                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                            <i class="fa fa-shopping-cart"></i>My Reservations
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/logout">
                            <i class="fa fa-shopping-cart"></i> Logout
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i class="fa fa-shopping-cart"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

