<section class="jumbotron text-center" style="background-image: url(https://media.self.com/photos/5f0885ffef7a10ffa6640daa/8:3/w_5887,h_2207,c_limit/travel_plane_corona.jpeg); background-size: 100%; height:auto" xmlns:th="http://www.thymeleaf.org">
    <div class="text-warning bg-secondary" style="width: 500px;" >
        <h1 class="display-4">Enjoy your flight with ChartAir!</h1>
        <p class="lead">Easy and flexible services will guide you through the booking process.</p>
        <hr class="my-4">
        <p>OUR CLIENTS ARE OUR TOP PRIORITY</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="/booking" role="button">Click & book now</a>
        </p>
    </div>

</section>
