<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand text-warning" href="/"><i><img width="100" height="50" src="https://png2.cleanpng.com/sh/d9c0743f00d6cb587ff75868081ea451/L0KzQYm4UcIyN5d7jJH0aYP2gLBuTfxwb5CyeuRqbnSwf8Pugf5qgpJ5gdH3LYD1f7X8gCQubpDzjJ8AYna3dofrVMI3OZU9S5CBMkG0RoG4VsE2PGM8UKIBMki0RYe4TwBvbz==/kisspng-logo-brand-organization-product-font-5bf4f6d4261d83.6211601615427806281561.png"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/products">Plan</a>
                    </li>
                    <li class="nav-item m-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link active" href="/servlet/thymeleaf/category">Flight Status</a>
                    </li>
                    <li class="nav-item m-auto" >
                        <a class="nav-link active" href="/manufacturers">ChartAir Services</a>
                    </li>
                    <li class="nav-item m-auto" >
                        <a class="nav-link active" href="/manufacturers">Prices and Discounts</a>
                    </li>
                </ul>



                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                            <i class="fa fa-shopping-cart"></i>My Cart
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/logout">
                            <i class="fa fa-shopping-cart"></i> Logout
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i class="fa fa-shopping-cart"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

